:root {
    --lt-accent : #3c91e6;
    --accent : #45b69c;
    --base : #6EFAFB;
    --lt-primary : #29335c;
    --primary : #F7E8A4;
    --dk-primary : #FFF4E4;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--dk-primary);
    line-height: 1.4;
    font-size: larger;
    font-weight: 200;
}
nav {
    background-color: var(--lt-primary);  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav a {
    color: var(--dk-primary);
}
main div {
    color: var(--accent);
}
main a {
    color: var(--accent);
}
main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: calc(100vh - 7.2rem)
}
footer {
    background-color: var(--lt-primary);  
    color: var(--dk-primary);
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    main div {
        order: -1;
    }
}